.logo {
  width: 2rem;
  height: 2rem;
}

.main {
  max-height: 100dvh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.5rem;
}

.topLeft {
  display: flex;
  align-items: center;
}

.navLink {
  text-transform: capitalize;
}
