.logo {
  width: 2.5rem;
  height: 2.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.5rem;
}

.topLeft {
  display: flex;
  align-items: center;
}

.mainScroll > div {
  min-height: 0;
  min-width: 0;
  flex-grow: 1;
}

.mainScroll > div > div {
  display: block !important;
}

.mainScroll {
  display: flex;
}

.categoryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
  gap: 3rem;
}
