.logo {
  width: 2.5rem;
  height: 2.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.5rem;
}

.topLeft {
  display: flex;
  align-items: center;
}
